.button {
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  scale: 0;
  transition: all 0.3s;
  background-color: #ffffff;
  color: black;
}

.button:hover::before {
  scale: 1.3;
  opacity: 0;
}
